.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.col-left {
    flex-basis: 60%;
}

.col-right {
    flex-basis: 40%;
}

.sidebar-header {
    background-color: var(--gray);
    padding: 20px;
    border-left: 1px solid;
    border-color: var(--light-gray);
}