:root {
    --dark-gray: #141518;
    --gray: #252526;
    --light-gray: #565656;
    --lightest-gray: #858585;

    --font-regular: 'Alata', sans-serif;
}

body {
    background-color: var(--dark-gray);
    color: var(--lightest-gray);
    font-family: var(--font-regular);
}

input {
    border-bottom: 3px solid var(--light-gray);
    outline: none;
    width: 100%;
    font-size: 22px;
}

input:focus {
    border-color: var(--lightest-gray);
}